@page "{id}"
@model SimpleCloudStorage.Pages.PublicModel
@{
    ViewData["Title"] = "Public";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Public</h1>

@Model.PubFile.Fso.Name
@Model.PubFile.FromUser.Name

<form method="post">
    <button type="submit" class="fso-action-btn" asp-route-fsoId="@Model.PubFile.FsoId" asp-route-fileName="@Model.PubFile.Fso.Name" asp-route-fromUserId="@Model.PubFile.FromUserId" asp-page-handler="Download"><i class="fas fa-download"></i></button>
</form>