@page
@model SimpleCloudStorage.Pages.SearchModel
@{
    ViewData["Title"] = "Search";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Search Results</h1>
<div class="row">
    <div class="col-md-8">
        <form method="post">
            @foreach (var fso in Model.SearchResults)
            {
                <div data-id="@fso.Id" data-name="@fso.Name" data-date="@fso.CreateDate" data-size="@fso.FileSize" data-isfolder="@fso.IsFolder" id="fso-@fso.Id" class="fso">
                    <div class="fso-box-1">
                        @if (fso.IsFolder)
                        {
                            <div class="folder-icon-box"><i class="fas fa-folder"></i></div>
                        }
                        else
                        {
                            <div class="file-icon-box"><i class="fas fa-file"></i></div>
                        }

                    </div>
                    <div class="fso-box-2">
                        <div class="fso-info-1">
                            <div class="fso-name">
                                @if (fso.IsFolder)
                                {
                                    <a asp-page="Homepage" asp-route-id="@fso.Id"><span class="folder-name">@fso.Name</span></a>
                                }
                                else
                                {
                                    <a asp-page="Homepage" asp-route-id="@fso.ParentId"><span class="file-name">@fso.Name</span></a>
                                }
                            </div>

                            @if (!fso.IsFolder)
                            {
                                <b><span class="file-size">@fso.FileSize</span></b>
                            }
                        </div>
                        <div class="fso-info-2">
                            <span>@fso.CreateDate</span>
                        </div>
                    </div>
                </div>
            }
        </form>
        <a class="btn btn-primary" asp-page="Homepage" asp-route-id="@ViewData["ReturnId"]">Back to Folder</a>
    </div>
</div>

