@page
@model SimpleCloudStorage.Pages.ShareModel
@{
    ViewData["Title"] = "Share";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Share</h1>

<form method="post">
    <div class="share-box">
        <h4>Shared with me</h4>
        @if (Model.SharedToUserList.Count() == 0)
        {
            <div class="fso fso-file"><div><b>No files</b></div></div>
        }
        @foreach (var s in Model.SharedToUserList)
        {
            <div class="fso">
                <div class="fso-box-1">
                    <div class="file-icon-box"><i class="fas fa-file"></i></div>
                </div>
                <div class="fso-box-2">
                    <div class="fso-info-1">
                        <div class="fso-name">
                            <span>@s.Fso.Name&nbsp;&nbsp;</span>
                        </div>
                        
                    </div>
                    <div class="fso-info-2">
                        <span><b>From:&nbsp;</b>@s.FromUser.Name</span>
                        <span><b>Size:&nbsp;</b></span><span class="file-size">@s.Fso.FileSize</span>
                        <span><b>Date:&nbsp;</b></span><span>@s.SharedDate</span>
                    </div>
                </div>
                <div class="fso-box-3">
                    <button type="submit" asp-route-fsoId="@s.FsoId" asp-route-fileName="@s.Fso.Name" asp-route-fromUserId="@s.FromUserId" asp-page-handler="Download" class="btn"><i class="fas fa-download"></i></button>
                </div>
            </div>
        }
    </div>
    <div class="share-box">
        <h4>My shares</h4>
        @if (Model.SharedFromUserList.Count() == 0)
        {
            <div class="fso fso-file"><div><b>No files</b></div></div>
        }
        @foreach (var s in Model.SharedFromUserList)
        {
            <div class="fso">
                <div class="fso-box-1">
                    <div class="file-icon-box"><i class="fas fa-file"></i></div>
                </div>
                <div class="fso-box-2">
                    <div class="fso-info-1">
                        <div class="fso-name">
                            <span>@s.Fso.Name&nbsp;&nbsp;</span>
                        </div>

                    </div>
                    <div class="fso-info-2">
                        <span><b>To:&nbsp;</b>@s.ToUser.Name</span>
                        <span><b>Size:&nbsp;</b></span><span class="file-size">@s.Fso.FileSize</span>
                        <span><b>Date:&nbsp;</b></span><span>@s.SharedDate</span>
                    </div>
                </div>
                <div class="fso-box-3">
                    <button type="submit" asp-route-fsoId="@s.FsoId" asp-route-fileName="@s.Fso.Name" asp-route-fromUserId="@s.FromUserId" asp-page-handler="Download" class="btn"><i class="fas fa-download"></i></button>
                    <button type="submit" asp-route-fromUserId="@s.FromUserId" asp-route-toUserId="@s.ToUserId" asp-route-fsoId="@s.FsoId" asp-page-handler="Delete" class="btn"><i class="fas fa-ban"></i></button>
                </div>
            </div>
        }
    </div>
    <div class="share-box">
        <h4>Public Files</h4>
        @foreach (var s in Model.PublicFilesList)
        {
            <div class="fso">
                <div class="fso-box-1">
                    <div class="file-icon-box"><i class="fas fa-file"></i></div>
                </div>
                <div class="fso-box-2">
                    <div class="fso-info-1">
                        <div class="fso-name">
                            <span>@s.Fso.Name&nbsp;&nbsp;</span>
                        </div>

                    </div>
                    <div class="fso-info-2">
                        <span><b>Size:&nbsp;</b></span><span class="file-size">@s.Fso.FileSize</span>
                        <span><b>Date:&nbsp;</b></span><span>@s.SharedDate</span>
                    </div>
                </div>
                <div class="fso-box-3">
                    <button type="button" class="btn" onclick="redirectToPage('Public','@s.PublicId')" id="@s.PublicId"><i class="fas fa-external-link-alt"></i></button>
                    <button type="button" class="btn" onclick="copyToClipboardLink('Public','@s.PublicId')"><i class="fas fa-copy"></i></button>
                    <button type="submit" class="btn" asp-page="Public" asp-route-fsoId="@s.FsoId" asp-route-fromUserId="@s.FromUserId" asp-page-handler="Delete"><i class="fas fa-ban"></i></button>
                </div>
            </div>

        }
    </div>

</form>